.timeline-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: Arial, sans-serif;
}

.timeline-heading {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
      background: linear-gradient(90deg, #FCB216 0%, #E85D24 35%, #D91B57 70%, #63205F 100%) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.timeline-heading::before {
  content: "";
  width: 6px;
  height: 28px;
  background: #d32f2f;
  margin-right: 12px;
  border-radius: 4px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
}

.timeline-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.step-number {
  width: 36px;
  height: 36px;
  background: #d32f2f;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-line {
  width: 2px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    #d32f2f,
    #d32f2f 6px,
    transparent 6px,
    transparent 12px
  );
  margin-top: 8px;
}

.timeline-content {
  flex: 1;
}

.timeline-date {
  font-size: 14px;
  margin-bottom: 10px;
}

.timeline-card {
  background: #272727;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #E85D24;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* .timeline-card:hover{
   transform: scale(1.03);
} */

.timeline-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.timeline-card p {
  font-size: 14px;
  line-height: 1.6;
}
.timeline-line {
  transform-origin: top;
}
