/* .globe {
  box-shadow: rgb(202, 28, 225) 0px 4px 10px;
} */
.globe-h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 4rem;
  background: linear-gradient(90deg, #fee189 0%, #FCB216 35%, #E85D24 70%, #D91B57 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .scene-container {
    width: 376px !important;
    height: 500px !important;
  }
  .globe canvas {
    width: 376px !important;
    height: 500px !important;
    border-radius: 35px;
    box-shadow: rgb(48, 3, 54) 0px 4px 10px;
    /* box-shadow: rgb(202, 28, 225) 0px 4px 20px; */
  }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .scene-container {
    width: 600px !important;
    height: 600px !important;
  }
  .globe canvas {
    width: 600px !important;
    height: 600px !important;
    border-radius: 35px;
    box-shadow: rgb(48, 3, 54) 0px 4px 10px;
  }
}

/* @media screen and (min-width: 1536px) {
  .scene-container {
    width: 768px !important;
    height: 936px !important;
  }
  canvas {
    width: 768px !important;
    height: 936px !important;
  }
} */

/* Base styles for all state names */
.states-h1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Individual state gradients - Lightened versions */
.states-h1 h1#blue-cyan {
  background-image: linear-gradient(98.84deg, #fff2cc 43.27%, #FCB216 71.84%);
}

.states-h1 h1#purple-pink {
  background-image: linear-gradient(98.84deg, #ffe4e9 43.27%, #D91B57 71.84%);
}

.states-h1 h1#green-yellow {
  background-image: linear-gradient(98.84deg, #f5d0fe 43.27%, #63205F 71.84%);
}

.states-h1 h1#orange-pink {
  background-image: linear-gradient(98.84deg, #ffedd5 43.27%, #E85D24 71.84%);
}

/* Remaining states */
.states-h1 h1:nth-of-type(5) {
  background-image: linear-gradient(98.84deg, #fee189 43.27%, #FCB216 71.84%);
}

.states-h1 h1:nth-of-type(6) {
  background-image: linear-gradient(98.84deg, #ffd1dc 43.27%, #D91B57 71.84%);
}

.states-h1 h1:nth-of-type(7) {
  background-image: linear-gradient(98.84deg, #fae8ff 43.27%, #63205F 71.84%);
}

.states-h1 h1:nth-of-type(8) {
  background-image: linear-gradient(98.84deg, #fff7ed 43.27%, #E85D24 71.84%);
}

/* Ensure gradients work across browsers */
@supports (-webkit-background-clip: text) or (background-clip: text) {
  .states-h1 h1 {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Media query for mobile */
@media screen and (max-width: 420px) {
  .states-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.states-h1 {
  margin-top: 1.5rem;
}
